.flex{
    display:flex;
  }
  
  .items-center{
    align-items:center;
  } 
  
  .justify-center{
    justify-content: center;
  }
  
  .space-between{
    justify-content: space-between;
  }
  
  .uppercase{
    text-transform: uppercase;
  }
  
  .bold{
    font-weight: bolder;
  }
  .pad{
    padding: 2px 10px;
  }
  .ntext{
    font-size: 16px;
  }
  a{
    text-decoration: none;
    color: inherit;
  }